<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
<!--顶部内容-->
<div class="top">
		<div class="left">
			<a href="../index/index.html"><img src="../images/login/logo.png"/></a>
		</div>
		<div class="right">
			<ul>
				<li><a href="../index/index.html">首页</a></li>
				<li><a href="../register/register.html">注册</a></li>
				<li><img src="../images/login/phone.png" alt=""><i>400 01 13520</i>  </li>
				<li><a href="#">帮助中心></a></li>
			</ul>
		</div>
	</div>
	<!--中间登陆部分-->
	<div class="center">
			<img src="../images/login/login_bg.jpg" alt="">
			<div class="register">
				<h2>DR-族</h2>
				<form action="../index/index.html" method="post">
					<input type="text" name="" id="tel" class="tel" value="" placeholder="请输入手机号" />
					<span id="s1"></span>
					<input type="password" name="" value="" placeholder="请输入密码" id="pwd" class="pwd"/>
					<span id="s2"></span><br/>
					<input type="text" name="" value="" class="yz" placeholder="验证码" id="yz"/><input type="button" class="btn" value="获取短信验证码" />
					<span id="s3"></span><br/>
					<a href="../login/login.html"></a>
					<input type="submit" value="登陆" class="btn1" id="btn1"/>
				</form>
				
			<!--第三方账户-->
			
				<p class="p1">
					<img src="../images/login/otherLoginHr.png"/><i>第三方账户</i></p>
					<a href="#" class="qq" id="show"><img src="../images/login/ico-otherLogin_01.jpg" alt=""></a>
					<a href="#" class="qq" id="show"><img src="../images/login/ico-otherLogin_03.jpg" alt=""></a>
					<a href="#" class="qq" id="show"><img src="../images/login/ico-otherLogin_05.jpg" alt=""></a>
					<a href="#" class="qq" id="show"><img src="../images/login/ico-otherLogin_07.jpg" alt=""></a>
			</div>
	</div>
	<!--底部内容-->
	<div class="content">
			<div class="hr"><img src="../images/login/footer_rp.png" alt=""></div>
			<!--底部图标-->
			<div class="_top">
				<a href="#">
					<i class="tu1"><img src="../images/login/icon_footer_01.jpg" alt=""></i>
					<span>权威认证</span>
				</a>
				<a href="#">
					<i class="tu2"><img src="../images/login/icon_footer_02.jpg" alt=""></i>
					<span>一钻双证</span>
				</a>
				<a href="#">
					<i class="tu3"><img src="../images/login/icon_footer_03.jpg" alt=""></i>
					<span>终生保养</span>
				</a>
				<a href="#">
					<i class="tu4"><img src="../images/login/icon_footer_04.jpg" alt=""></i>
					<span>以大换小</span>
				</a>
				<a href="#">
					<i class="tu5"><img src="../images/login/icon_footer_05.jpg" alt=""></i>
					<span>15天退还</span>
				</a>
				<a href="#">
					<i class="tu6"><img src="../images/login/icon_footer_06.jpg" alt=""></i>
					<span>全国免运费</span>
				</a>
				<a href="#">
					<i class="tu7"><img src="../images/login/icon_footer_07.jpg" alt=""></i>
					<span>全程保险</span>
				</a>
			</div>
			<!--底部列表-->
			<div class="_cen">
				<ul>
					<li>
						<h4>关于我们</h4>
						<a href="#">权威认证</a>
						<a href="#">合作专区</a>
						<a href="#">加入我们</a>
					</li>
					<li>
						<h4>购物指南</h4>
						<a href="#">购买流程</a>
						<a href="#">支付方式</a>
						<a href="#">配送流程</a>
					</li>
					<li>
						<h4>售后服务</h4>
						<a href="#">退货流程</a>
						<a href="#">办理售后</a>
						<a href="#">15天退货</a>
					</li>
					<li>
						<h4>帮助中心</h4>
						<a href="#">注册流程</a>
						<a href="#">联系客服</a>
						<a href="#">网站地图</a>
					</li>
					<li>
						<h4>服务条款</h4>
						<a href="#">终生保养</a>
						<a href="#">注册协议</a>
						<a href="#">隐私声明</a>
					</li>
					<li>
						<h4>DR资讯</h4>
						<a href="#">钻石百科</a>
						<a href="#">产品百科</a>
						<a href="#">求婚指南</a>
					</li>
				</ul>
				<div class="box">
					<h3>关注我们</h3>
					<p>一个让你相信真爱的地方，给你实用的情感指南，为你的爱情终身服务。</p>
					<a href="#" class="vx">
						<img src="../images/login/share_focus_01.jpg" class="vx_1" id="vx">
						<img src="../images/login/gzh_wx.png" class="wx" id="wx"/>
					</a>
					<a href="#" class="vb"><img src="../images/login/share_focus_03.jpg"></a>
				</div>
			</div>
			<!--底部结尾-->
			<div class="footer">
				<div class="_left">
					<a href="#">选择站点</a>
					<a href="#">简体</a>
					<a href="#">隐私政策</a>
					<a href="#">网站地图</a>
					<a href="#">友情链接</a>
				</div>
				<div class="_right">
					<a href="#"><img src="../images/login/icon_police.png"/>粤公网安备 44030302000934号/</a><span>粤ICP备11012085号-2/Copyright©2006-2018 www.darryring.com 戴瑞珠宝 All Rights Reserved.</span><img src="../images/register/kxzd.png"/>
				</div>
			</div>
		</div>
   	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!-- inject:js -->
    <!-- endinject -->
   
</body>
</html>